.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.media-query-item {
    margin-bottom: 5px !important;
    width: 60%;
    display: inline-block !important;
}

.media-query-button {
    width: calc(35% - 5px);
    margin-left: 5px;
}

@media only screen and (max-width: 420px) {
    .media-query-item {
        margin-bottom: 5px;
        width: 100%;
        display: block;
    }

    .media-query-button {
        width: 100%;
        margin: 0;
    }
}